:root {
	--primary: 83 78 232;
	--dark: 8 10 41;
	--gradient-1: linear-gradient(to bottom, #ebe6fb, #fef4f2);
	--gradient-2: linear-gradient(to bottom right, #ebe6fb, #fef4f2);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	transition-duration: 300ms;
	color: var(--dark);
}

body {
	min-height: 100vh;
}

.gradient-1 {
	background: var(--gradient-1);
}

.gradient-2 {
	background: var(--gradient-2);
}

/* main {
	max-width: 1440px;
	padding: 0 40px;
	margin: 0 auto;
}

section.inner {
	max-width: 1280;
	padding: 0 80px;
	margin: 0 auto;
}

nav.logo {
	height: 30px;
}

nav.middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav.middle.menu-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.test {
	background-color: red;
} */
